<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPropertyServlet</servlet-name>
        <servlet-class>controller.AddPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserPasswordServlet</servlet-name>
        <servlet-class>controller.ChangeUserPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>controller.ValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnvalidateServlet</servlet-name>
        <servlet-class>controller.UnvalidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAlgorithmServlet</servlet-name>
        <servlet-class>controller.ChangeAlgorithmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetProfilePictureServlet</servlet-name>
        <servlet-class>controller.SetProfilePictureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setpropertypictures</servlet-name>
        <servlet-class>controller.SetPropertyPicturesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editproperty</servlet-name>
        <servlet-class>controller.EditPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletepropertypicture</servlet-name>
        <servlet-class>DeletePropertyPictureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchproperty</servlet-name>
        <servlet-class>controller.SearchPropertyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendmsg</servlet-name>
        <servlet-class>controller.SendMsgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletemsg</servlet-name>
        <servlet-class>controller.DeleteMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPropertyServlet</servlet-name>
        <url-pattern>/addproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/administration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnvalidateServlet</servlet-name>
        <url-pattern>/unvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAlgorithmServlet</servlet-name>
        <url-pattern>/changealgorithm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetProfilePictureServlet</servlet-name>
        <url-pattern>/setprofilepicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setpropertypictures</servlet-name>
        <url-pattern>/setpropertypictures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editproperty</servlet-name>
        <url-pattern>/editproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletepropertypicture</servlet-name>
        <url-pattern>/deletepropertypicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchproperty</servlet-name>
        <url-pattern>/searchproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendmsg</servlet-name>
        <url-pattern>/sendmsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletemsg</servlet-name>
        <url-pattern>/deletemsg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
