<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fardb</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hbm2ddl.auto">create</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="entities/User.hbm.xml"/>
    <mapping resource="entities/Algorithm.hbm.xml"/>
    <mapping resource="entities/PropertyPhotos.hbm.xml"/>
    <mapping resource="entities/Property.hbm.xml"/>
    <mapping resource="entities/Admin.hbm.xml"/>
    <mapping resource="entities/Ids.hbm.xml"/>
    <mapping resource="entities/Messages.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
